<%- include('partials/header.ejs') %>
<body class="russle">
	<h1>This is the store page</h1>
    
   <div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Shopping Bag
  </div>
 
  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img src="img/bucs.jpg" height="100px" alt="" />
    </div>
 
    <div class="description">
      <span>Bucs Jersey </span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="img/plus.png " height="20px" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-bt" type="button" name="button">
        <img src="img/minus.png" height="20px" alt="" />
      </button>
    </div>
 
    <div class="total-price">$549</div>
  </div>
 
  <!-- Product #2 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img src="img/pits.jpg" height="100px" alt=""/>
    </div>
 
    <div class="description">
      <span>Pits Jersey </span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="img/plus.png" height="20px" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-bt" type="button" name="button">
        <img src="img/minus.png" height="20px" alt="" />
      </button>
    </div>
 
    <div class="total-price">$870</div>
  </div>
 
  <!-- Product #3 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img src="img/raiders.jpg" height="100px" alt="" />
    </div>
 
    <div class="description">
      <span>Raiders Jersey </span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="img/plus.png" height="20px" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-bt" type="button" name="button">
        <img src="img/minus.png" height="20px"alt="" />
      </button>
    </div>
 
    <div class="total-price">$349</div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
</body>
</html>